/*Reset elements*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@font-face {
  font-family: "freestyle";
  src: url(FREESCPT.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}
.freestyle {
  font-family: 'freestyle', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
.btn {
  border: solid 2px;
  border-radius: 40px;
  color: #54524F;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
}
.btn:hover, .btn:focus {
  color: #fff;
  border-color: #746136;
  background-color: #746136;
}
.btn-coin {
  text-align: center;
  background: linear-gradient(rgb(253, 218, 134) 0px, rgb(225, 157, 60) 100%) 0px 0px / auto repeat padding-box border-box rgb(253, 218, 134);
  border: 0;
  box-shadow: 0 -1px 1px 0 rgb(170, 139, 90) inset, 0 1px 1px 0 rgb(177, 106, 2);
  font-weight: bold;
  color: #7B5825;
}
.btn-coin:hover, .btn-coin:focus {
  background: rgb(253, 218, 134);
  color: #7B5825;
}
.btn-small {
  padding: 8px 40px;
}
.btn-large {
  padding: 15px 40px;
}
.btn-margin-right {
  margin-right: 20px;
}

/*Navbar*/

.crown-navbar {}
.crown-navbar .navbar-logo {
  height: auto;
  padding: 0;
}
.crown-navbar .navbar-nav > li > a {
  color: #777;
  margin: 20px 0;
  font-size: 1.5rem;
}
.crown-navbar .navbar-logo > img {
  height: 80px;
}

/* ==========================================================================
Navigation
========================================================================== */

.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer;
}
.nav-toggle:focus {
  outline: none;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}
.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* ==========================================================================
Hero
========================================================================== */

.depositSlider, .borrowSlider, .interestSlider {
  margin: 0 0 20px;
  padding: 0 20px;
}
.calculatorBox .slider.slider-horizontal {
  margin: 0;
}
.calculatorBox .slider.slider-horizontal .slider-track {
  height: 5px;
}
.calculatorBox .slider-selection {
  background: #E6A748;
}
.calculatorBox .slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-top: -6px;
  background: #E3A242;
}
.calculatorBox .slider-handle {
  display: none;
}
.calculatorBox .slider .tooltip.top {
  margin-top: -12px;
}
.calculatorBox .tooltip-inner {
  background-color: #E4A444;
  cursor: pointer;
}
.calculatorBox .tooltip.top .tooltip-arrow {
  display: none;
}
.section-padding {
  padding: 50px 0;
}
section.intro {
  background: #fff;
  font-size: 1.5rem;
  text-align: center;
}
.hiw section.intro h2, .interestRates section.intro h2 {
  margin: 0 0 50px;
}
section.intersetCalc {
  background: #eee;
  text-align: center;
}
section.intersetCalc .center-block {
  float: none;
}
section.intersetCalc h2 {
  margin: 0 0 20px 0;
}
section.recommend {
  text-align: center;
  padding: 0 0 50px;
}
section.testimonials {
  text-align: center;
}
section.testimonials p {
  font-size: 1.5rem;
}
section.recommend .btn {
  margin: 20px 0;
}
section.recommend h4 {
  margin: 30px 0;
}
section.subscribe {
  text-align: center;
  background: #bcb39f
}
section.subscribe h2 {
  margin: 0 0 50px;
  color: #38301B;
}
section.subscribe h2 span {
  display: block;
  font-size: 1.5rem;
  margin: 10px 0;
}
section.subscribe h5 {
  padding: 20px 0 0;
}
section.subscribe input.form-control {
  border: 2px solid #746136;
  padding: 18px 22px;
  margin: 0 10px;
}
section.intersetCalc h4 {
  margin: 0 0 20px 0;
}
section.intro p {
  text-align: justify;
  font-size: 16px;
}
.interestRates section.intro p {
  text-align: center;
}
text-center section.intro .btn {}
.hiw section.intro .btn, .interestRates section.intro .btn {
  margin: 50px 0 0;
}
.hero {
  min-height: 750px;
  background: url("../images/heroBG.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  width: 100%
}
.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}
.hiw.hero {
  background: url("../images/hiwBG.jpg") center no-repeat;
  min-height: 500px;
  background-size: cover;
}
.interest.hero {
  background: url("../images/interestBG.jpg") center no-repeat;
  min-height: 500px;
  background-size: cover;
}
.interest.hero .interestTable h4 {
  text-align: center;
}
.interestRates .hero .hero-content .btn {
  margin: 20px 0 0;
}
.hero.plane {
  background: url("../images/plane.jpg") center fixed no-repeat;
  min-height: 300px;
  background-size: cover;
}
.hero .center-block {
  float: none;
}
.hiw.hero h1 {
  margin: 0;
}
.hiw.hero .hero-content p {
  margin: 10px 0 20px;
}
.hero:before {
  position: absolute;
  content: "\ ";
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .16), rgba(0, 0, 0, .16));
  background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16));
  top: 0;
  height: 100%;
}
.hero .down-arrow a {
  color: #fff;
}
.hero h1 {
  color: #fff;
  margin-bottom: 40px;
  text-shadow: 0 1px 10px #000;
  font-size: 5em;
  position: relative;
}
.hero p.intro {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 80px;
}
.hero .hero-content {
  padding-top: 20px;
}
.hero .hero-content p {
  font-size: 1.5rem;
  margin: 20px 0 0;
  font-weight: bold;
}
.navigation {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.fixed {
  position: fixed;
}
header {
  position: relative;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
}
header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
}
header a.login {
  margin-right: 20px;
}
header .logo {
  display: inline-block;
}
header .logo img {
  height: 90px;
}
header ul.primary-nav {
  margin: 0 0 0 75px;
  padding: 0;
  display: inline-block;
}
header ul.primary-nav li {
  display: inline;
}
header ul.primary-nav li a {
  color: #54524F;
  padding-right: 25px;
}
header ul.primary-nav li a:hover {
  color: #393333;
}
header ul.primary-nav li:last-child a {
  padding-right: 0px;
}
header ul.member-actions li {
  display: inline;
}
header ul.member-actions li a {
  color: #54524F
}
header .header-nav {
  float: right;
  display: inline-block;
  margin: 20px 0;
}
header .member-actions {
  display: inline-block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.interestTable {
  text-align: center;
}
.interestTable h4 {
  font-weight: BOLD;
  text-align: left;
}
.interestTable .table {
  border-collapse: separate;
  border-spacing: 5px;
  background: rgba(20, 19, 19, 0.61);
  color: #fff;
  text-align: center;
}
.interestTable .table th, .interestTable .table td {
  border: 1px solid #8E8D8D;
  color: #FFA31C;
  background: linear-gradient(25deg, rgba(22, 22, 21, 0.41) 0%, rgba(49, 48, 48, 0.37) 65%, rgba(150, 150, 149, 0.36) 85%);
  padding: 12px !important;
}
.interestTable .table > thead:first-child > tr:first-child > th {
  border: 1px solid #8E8D8D;
}
.interestTable .table > thead > tr > th:first-child, .interestTable .table > tbody > tr > th {
  color: #6BBEE3;
}

/*Calculator Form*/

.calculatorBox .panel-title {
  font-size: 2rem;
}
.calculatorBox .output {
  display: inline-block;
  border: 2px solid #232731;
  padding: 10px;
}
.calculatorBox h1 {
  margin: 50px 0;
}
.calculatorBox h5.note {
  padding: 20px 0;
}

/*Radio button*/

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #e0dcd1;
  border-radius: 50%;
  background-color: #faf9f5;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}
.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}
input[type="checkbox"].styled:checked + label:after, input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before, input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after, input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

/* Registration*/

section.registration .hero-content h1 {
  font-size: 4em;
}
section.registration .control-label {
  text-align: left;
  display: inline-block;
}
section.registration form {
  padding: 50px;
}
section.registration form .note {
  font-size: 1.5rem;
}
section.registration form .interestTable {
  margin: 0 0 20px;
}
section.registration form .interestTable {
  font-size: 1.2rem;
}
section.registration form .interestTable h4 {
  font-size: 13px;
}
section.registration form .panel-title {
  font-size: 1em;
}
section.registration form .calculatorBox .btn-coin {
  font-size: 1.2rem;
}
section.registration form .calculatorBox h5 {
  font-size: 12px;
}
section.registration form .calculatorBox h1 {
  margin: 0;
  font-size: 2em;
}
.rfdata {
  font-size: 1.5em;
  text-align: center;
}
.rfdata .lastName {
  padding: 0 5px;
}

/*
.nav-pills > li a:after {
  content: '';
  height: 4px;
  background: #edeff0;
  margin: 0;
  position: absolute;
  z-index: 1;
  left: 100%;
  width: calc(100% + 60px);
} */


/*
.nav-pills > li:last-child > a:after {
  display: none;
}
*/


/*
.nav-pills > li.active > a {
  background: linear-gradient(-45deg, rgba(242, 215, 12, 1) 0%, rgba(255, 255, 255, 1) 47%, rgba(252, 235, 0, 1) 96%);
  border: 1px solid rgba(242, 215, 12, 1);
}*/

.nav-pills > li:after {
  content: '';
  z-index: 1;
  position: absolute;
  height: 4px;
  left: 56%;
  width: calc(70% + 50px);
  background: #edeff0;
  bottom: 28px;
  margin: 0;
}
.nav-pills > li:last-child::after {
  display: none;
}
.nav-pills > li > a {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #edeff0;
  padding: 15px;
}
.nav-pills > li.active > a {
  background: url(../images/goldCoin.png) no-repeat;
}
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:active, .nav-pills > li.active > a:focus {
  outline: 0;
  border: 0;
  background-color: transparent;
}

/*Signin & Signup*/

.signin {
  padding: 50px 0;
}
.signin .center-block {
  float: none;
}
.signinForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 0 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.signinForm h3 {
  text-align: center;
  border-bottom: 2px solid #eee;
  padding: 20px 0;
}
.signinForm .input-group-addon {
  background: 0;
}
.signinForm input {}
.signinForm .forgotPass {
  font-size: 12px;
  color: #706a68;
}
.signinForm .btn {
  margin: 20px 0;
  border-radius: 0;
}
.signinForm .foot {
  padding: 15px 0;
  border-top: 1px solid #e5e5e5;
}

/*User pages*/

.userPages .footsection {
  position: absolute;
  bottom: 0;
  width: 100%
}

/*
.header.userMenu {
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background: #E91E63;
  margin: 0;
  border-bottom: 1px solid transparent;
  padding-top: 10px;
} */

.header.userMenu .navbar {
  margin: 0;
  border-bottom: 1px solid transparent;
}
.header.userMenu .navbar .navbar-nav>li>a {
  font-weight: 700;
  font-size: 14px;
}
.header.userMenu .navbar {
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.header.userMenu .navbar .navbar-logo>img {
  height: 50px;
}
.header.userMenu .navbar .navbar-nav>li>a.dropdown-toggle img {
  margin-right: 5px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
}
.header.userMenu .navbar .navbar-nav .shortBox {
  margin-left: 10px;
  cursor: pointer;
}

/*Profile menu*/

.profile_menu .dropdown-toggle {
  padding: 10px 10px;
}
.profile_menu img {
  margin-right: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/*END - Profile menu*/

.header.userMenu .navbar .navbar-nav> li.button {
  padding: 15px 6px;
  float: left;
}
.header.userMenu .navbar .navbar-nav> li.button > a {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 30px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  text-align: center;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a {
  font-weight: 300;
  color: #444;
  padding: 11px 10px;
  padding-left: 33px;
  border-bottom: 1px solid #ececec;
  position: relative;
  font-size: 12px;
}
.header.userMenu .navbar .navbar-nav> li.button .messages li > a {
  padding: 12px 10px;
  padding-left: 48px;
  line-height: 16px;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a:hover {
  color: #444;
  background: #F8F8F8;
}
.header.userMenu .navbar .navbar-nav>li.button .dropdown-menu li:last-child > a {
  border-bottom: 0;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a > i {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  width: 20px;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  top: 14px;
}
.header.userMenu .navbar .navbar-nav> li.button .messages li > a > img {
  position: absolute;
  left: 10px;
  top: 16px;
  height: 30px;
  width: 30px;
}
.header.userMenu .navbar .navbar-nav> li.button .messages li > a .name {
  display: block;
  color: #555555;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a > i.success {
  color: #60C060;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a > i.info {
  color: #4D90FD;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a > i.warning {
  color: #FC9700;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li > a > i.danger {
  color: #DA4932;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu li a .date {
  display: block;
  font-size: 11px;
  color: #999999;
  font-style: italic;
  line-height: 18px;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu .title {
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid #DDDDDF;
  padding: 8px 17px;
  color: #444;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu .title a:hover {
  background: transparent;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu .foot {
  padding: 0;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu .foot > li {
  list-style: none;
}
.header.userMenu .navbar .navbar-nav> li.button .dropdown-menu .foot a {
  background: #F7F7F7;
  padding: 8px 17px;
  color: #444;
  text-align: center;
}
.header.userMenu .navbar .navbar-nav> li.button .bubble {
  position: absolute;
  top: -6px;
  left: 20px;
  background-color: #C8A244;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 1px 3px 1px 2px;
  font: bold 9px Tahoma;
}
.header.userMenu .navbar .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #fff;
  background: #CBAF5E;
}
.header.userMenu .navbar .navbar-nav>li>a.dropdown-toggle i {}
.header.userMenu .navbar .adjust li a.dropdown-toggle, .header.userMenu .navbar .adjust li a {
  padding: 20px;
}
.header.userMenu .navbar .adjust .dropdown-menu > li > a {
  padding: 3px 20px;
}
.header.userMenu .navbar-collapse, .navbar-default .navbar-form {
  border: 0;
}
.header.userMenu .navbar .navbar-toggle {
  border: none;
}
.header.userMenu .navbar .navbar-toggle .icon-bar {
  background-color: #fff !important;
  width: 30px;
  height: 4px;
}
.header.userMenu .navbar .navbar-toggle:hover, .header .navbar .navbar-toggle:active, .header .navbar .navbar-toggle:focus {
  background: none;
}
@media only screen and (min-width: 768px) {
  .header.userMenu .navbar .navbar-logo>img {
    height: 60px;
  }
}

/*Footer*/

.footsection {
  background: #ECEFF1;
  color: #757575;
  font-family: 'Montserrat', sans-serif !important;
}
.footsection h2 {
  color: #777777;
  margin: 20px 0;
  font-size: 22px;
}
.footsection a {
  color: #757575;
}
.footsection p {
  font-size: 15px;
}
.footsection li {
  font-size: 16px;
  margin: 5px 0;
}
.footsection li i {
  width: 18px;
  padding: 5px 0;
}
.footsection .socialLinks li a {
  color: #fff;
  background: #7E7E80;
  padding: 15px 0;
  display: block;
  text-align: CENTER;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.footsection li.facebook a:before, .footsection li.gplus a:before, .footsection li.twitter a:before {
  font-family: 'Fontawesome';
}
.footsection li.facebook a:before {
  content: '\f09a ';
}
.footsection li.facebook a:hover {
  background-color: #42599e;
}
.footsection li.gplus a:before {
  content: '\f0d5  ';
}
.footsection li.gplus a:hover {
  background-color: #db4437;
}
.footsection li.twitter a:before {
  content: '\f099  ';
}
.footsection li.twitter a:hover {
  background-color: #55acee;
}
.footsection .ftop {
  padding: 40px 0 40px;
}
.footsection .fbottom {
  background-color: #D4D4D4;
  padding: 20px 0 10px;
  text-align: center;
}

/*Go to top*/

.openChat {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: fixed;
  line-height: 1.8;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  white-space: nowrap;
  border-radius: 100%;
  background: rgb(191, 171, 113);
}
.openChat:after {
  content: "\f086 ";
  font-family: fontawesome;
  color: #fff;
  font-size: 2em;
}

/* General styles for all menus */

.cbp-spmenu {
  background: #fff;
  position: fixed;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.21);
  transition: all 0.3s ease;
}
.cbp-spmenu h3 {
  font-size: 18px;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
}
.cbp-spmenu h3 a {
  padding: 0;
}
.cbp-spmenu h3 a:hover {
  background: transparent;
}
.cbp-spmenu-vertical {
  width: 350px;
  height: calc(100% - 91px);
  bottom: 0;
  z-index: 9999;
}
.cbp-spmenu-right {
  right: -350px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}
@media screen and (max-height: 26.375em) {
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .cbp-spmenu-right {
    right: -190px;
  }
}

/* Chat */

.chat {
  position: relative;
  padding-bottom: 100px;
  overflow-y: scroll;
  height: calc(100% - 44px);
}
.chat .chat-item {
  display: block;
  padding: 10px 15px;
  width: 100%;
  overflow: hidden;
}
.chat .chat-item .chat-image {
  float: left;
  display: inline-block;
}
.chat .chat-item .chat-image img {
  display: block;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #DBD9D9;
  height: 40px;
}
.chat-attachment {
  float: right;
  position: relative;
  background: #f1f1f1;
  max-width: 200px;
  display: inline-block;
  transition: all 0.5s linear;
}
.chat-attachment img {
  display: block;
  max-width: 100%;
  height: auto;
}
.file {}
.file .icon {
  display: inline-block;
}
.file .name {
  display: inline-block;
}
.file .name a {
  color: #fff;
  padding: 10px;
}
.chat .chat-item .chat-content {
  position: relative;
  max-width: 75%;
  display: inline-block;
  transition: all 0.5s linear;
}
.chat .chat-item .chat-content .chat-message {
  border-radius: 6px;
  padding: 4px 12px;
}
.chat .chat-item .chat-content .chat-time {
  font-size: 1.2rem;
  padding: 0 5px;
  color: #777575;
}
.chat .chat-item-right .chat-content .chat-time {
  text-align: right;
}
.chat .chat-item-left .chat-message {
  background: #f1f1f1;
}
.chat .chat-item-right .chat-content {
  float: right;
}
.chat .chat-item-right .chat-message {
  background: #AA995E;
  color: #fff;
}
.chat-notify {
  display: block;
  padding: 10px 15px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.chat-write {
  padding: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.btn-attachment {
  border: 0;
  background: #fff;
  border: 1px solid #ccc;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-left: 0;
  color: #9999A5;
  border-radius: 4px;
}
.btn-attachment:hover, .btn-attachment:focus, .btn-attachment:active {
  background: #fff;
  border: 1px solid #ccc;
  border-left: 0;
  outline: 0;
  color: #9999A5;
}
.chat-write input {
  border-right: 0;
}
.goTop {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  left: 10px;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  white-space: nowrap;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.goTop.is-visible, .no-touch .goTop:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  text-decoration: none;
}
.goTop.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.goTop:after {
  content: "\f077";
  font-family: fontawesome;
  color: #fff;
  font-size: 1.8em;
}
.no-touch .goTop:hover {
  background-color: #e86256;
  opacity: 1;
  text-decoration: none;
}
@media screen and (max-width:1200px) {
  header {
    width: 90%;
    margin: 0 auto;
  }
}

/* Responsive nav kicks in */

@media screen and (max-width:991px) {
  header {
    width: 90%;
    padding-left: 25px;
  }
  .hero .hero-content {
    padding-top: 32%;
  }
  .header-nav {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  ul.member-actions {
    position: static;
  }
  .navicon {
    visibility: visible;
  }
  header .nav-wrapper {
    display: absolute;
  }
  header nav {
    position: relative;
    top: 45%;
    -moz-transform: translatey(-45%);
    -ms-transform: translatey(-45%);
    -o-transform: translatey(-45%);
    -webkit-transform: translatey(-45%);
    transform: translatey(-45%);
  }
  nav ul li a {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
  }
  nav ul li {
    margin-bottom: 25px
  }
  nav ul.primary-nav li {
    display: block;
  }
  nav ul.member-actions li {
    display: block;
  }
  nav a.login {
    margin-right: 0px;
  }
  nav ul.primary-nav {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
  }
  nav ul.primary-nav li a {
    padding-right: 0;
  }
  nav .member-actions {
    position: static;
    padding: 0;
    text-align: center;
    display: block;
  }
  nav ul.primary-nav li, nav ul.member-actions li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, -80px, 0);
    -ms-transform: translate3d(0, -80px, 0);
    -o-transform: translate3d(0, -80px, 0);
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s
  }
  header .header-nav.open ul.primary-nav li, header .header-nav.open ul.member-actions li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  nav ul.primary-nav li:first-child {
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s
  }
  nav ul.primary-nav li:nth-child(2) {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
  }
  nav ul.primary-nav li:nth-child(3) {
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
  }
  nav ul.primary-nav li:nth-child(4) {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
  }
  nav ul.member-actions li:first-child {
    -moz-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s
  }
  nav ul.member-actions li:nth-child(2) {
    -moz-transition-delay: 0.30s;
    -o-transition-delay: 0.30s;
    -webkit-transition-delay: 0.30s;
    transition-delay: 0.30s
  }
}
@media screen and (max-width:480px) {
  .hero .hero-content {
    padding-top: 41%;
  }
  .hero .btn {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .hero .btn:first-of-type {
    margin-bottom: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .btn-margin-right {
    margin-right: 0px;
  }
}