<header ng-include="'views/core/partials/header.html'"></header>
<div class="signin">
  <div class="container">
    <div class="row">
      <div class="col-md-5 center-block">
        <div class="signinForm">
          <h3>Login</h3>
          <form>
            <div class="form-group">
              <!--<label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"> -->

              <div class="input-group">
                <span class="input-group-addon" id="emailaddon"><i class="fa fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Your Email" aria-describedby="emailaddon">
              </div>


            </div>
            <div class="form-group">
              <!--
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->

              <div class="input-group">
                <span class="input-group-addon" id="passwordaddon"><i class="fa fa-key"></i></span>
                <input type="password" class="form-control" placeholder="Your Password" aria-describedby="passwordaddon">
              </div>
              <a class="pull-right forgotPass" href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn btn-default btn-block">Submit</button>
            <div class="foot">
              <p>Don't have an account? <a href="">Register here</a></p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>