<div class="col-md-6">

  <div class="form-group">
    <ul class="list-inline rfdata">
      <li class="name"><span class="firstName">Full</span><span class="lastName">name</span></li>
      <li class="accountNo">0424566666</li>
    </ul>
  </div>
  <hr>
  <div class="form-group">

    <label class="col-sm-4 control-label">Currency</label>
    <div class="col-sm-8">
      <select class="form-control">
        <option>USD</option>
        <option>CAD</option>

      </select>
    </div>

  </div>

  <div class="form-group">

    <label class="col-sm-4 control-label">Term</label>
    <div class="col-sm-8">
      <select class="form-control">

        <option>5 Years - 36%</option>
        <option>4 Years - 30%</option>
        <option>3 Years - 24%</option>
        <option>2 Years - 18%</option>
        <option>1 Year - 12%</option>

      </select>
    </div>

  </div>



  <div class="form-group">
    <label class="col-sm-4 control-label">Amount</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">

    <label class="col-sm-4 control-label">Method</label>
    <div class="col-sm-8">
      <select class="form-control">
        <option>Wire Transfer</option>
        <option>Credit card</option>
        <option>Check</option>

      </select>
    </div>

  </div>
  <hr>
  <p class="note">Deposits take 60 days to activate Interest starts to accrue after the 61st day Interest payment is on the 21st day of the following month Your term is from the activation date to the maturity date of 1-5years 3.5% convenience fee added to credit card
    payments
    <br>
    <br>Track the status of your deposit in your account</p>
  <hr>
  <div class="form-group">
    <div class="text-center col-sm-12">
      <button type="submit" class="btn btn-default btn-large">Register</button>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="interestTable">

    <table class="table">
      <thead>
        <tr>
          <th>MIN DEPOSIT</th>
          <th>2 YR TERM</th>
          <th>3 YR TERM</th>
          <th>4 YR TERM</th>
          <th>5 YR TERM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">$5000-$49999</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">$50000-$99999</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">$100000-$249999</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">$250000-$999999</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">$1000000 +</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <h4>All figures represent annual percentage yield (APY)</h4>
  </div>


  <div class="panel panel-default calculatorBox">
    <div class="panel-heading">
      <h3 class="panel-title">Calculate your Monthly income</h3>

    </div>
    <div class="panel-body">
      <!--
      <div class="radio radio-success">
        <input type="radio" name="radio" id="radio1" value="option1" class="styled">
        <label for="radio1" class="control-label"> USD </label>
      </div> -->
      <div class="text-center">
        <div class="btn-group selectCurrency" data-toggle="buttons">
          <label class="btn btn-coin active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>$ USD
          </label>
          <label class="btn btn-coin ">
            <input type="radio" name="options" id="option2" autocomplete="off"> $ CAD
          </label>

        </div>
      </div>
      <div class="depositSlider">
        <h5>Select Term</h5>
        <select class="form-control">
          <option>1 Year - 12%</option>
          <option>2 Years - 18%</option>
          <option>3 Years - 24%</option>
          <option>4 Years - 30%</option>
          <option>5 Years - 36%</option>
        </select>
      </div>


      <div class="depositSlider">
        <h5>How much is your deposit?</h5>
        <span slider slider-id="rangeSlider" slider-tooltip="always" ng-model="calculatorBox.depositRange" handle="round" min="20000" max="100000"></span>
      </div>
      <div class="borrowSlider">
        <h5>How much of your deposit will be borrowed?</h5>
        <span slider slider-id="rangeSlider" slider-tooltip="always" ng-model="calculatorBox.borrowRange" handle="round" min="0" max="100000"></span>
      </div>
      <div class="interestSlider">
        <h5>What is the interest rate of your borrowed funds?</h5>
        <input class="form-control" id="disabledInput" type="text" placeholder="19.99" readonly>
      </div>
      <div class="text-center">
        <a href="#" class="btn btn-default">Calculate</a></div>
    </div>
  </div>


  <div class="panel panel-default calculatorBox">
    <div class="panel-heading">
      <h3 class="panel-title">Your Monthly Income</h3>

    </div>
    <div class="panel-body">
      <h1> CAD $1500</h1>

      <h5 class="note">Monthly interest includes a 2.4% account management fee</h5>
    </div>
  </div>
</div>