<header ng-include="'views/core/partials/header.html'"></header>
<section class="registration section-padding">
  <div class="container">




    <div class="hero-content ">


      <div ng-controller="registrationController">
        <h1 class="text-center freestyle">You are just steps away from Freedom</h1>
        <uib-tabset type="pills" justified="true">
          <uib-tab class="btn-large" ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            <form class="form-horizontal" ui-view="{{tab.route}}"></form>
          </uib-tab>
        </uib-tabset>
      </div>

    </div>
  </div>
</section>