<div class="form-group">
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="First Name">
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="Last Name">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <input type="email" class="form-control" placeholder="Email">
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <input type="tel" class="form-control" placeholder="Phone number">
  </div>
  <label for="dob" class="col-sm-2 control-label text-right">Date of birth</label>
  <div class="col-sm-6">
    <input type="date" class="form-control" id="dob">
  </div>
</div>


<div class="form-group">
  <div class="col-sm-8">
    <input type="text" class="form-control" placeholder="Street Address">
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" placeholder="Suite or Unit #">
  </div>
</div>

<div class="form-group">
  <div class="col-sm-4">
    <input type="text" class="form-control" placeholder="City">
  </div>

  <div class="col-sm-4">
    <select class="form-control">
      <option>Select your Province</option>
      <option>Option1</option>
      <option>Option2</option>
      <option>Option3</option>
      <option>Option4</option>
      <option>Option5</option>
    </select>
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" placeholder="Postal code">
  </div>
</div>



<div class="form-group">
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="Annual Income">
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" placeholder="Monthly Mortgage/Rent">
  </div>
</div>
<hr>
<div class="form-group">
  <label class="col-sm-3 control-label">Do you rent or own</label>
  <div class="col-sm-6">
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Own
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Rent
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Neither
    </label>
  </div>
</div>
<div class="form-group">

  <label class="col-sm-3 control-label">Country of Citizenship</label>
  <div class="col-sm-6">
    <select class="form-control">
      <option>Please select a country</option>
      <option>India</option>
      <option>UK</option>
      <option>USA</option>
      <option>Australia</option>
    </select>
  </div>

</div>

<div class="form-group">
  <label class="col-sm-3 control-label">Passport Number</label>
  <div class="col-sm-4">
    <input type="text" class="form-control">
  </div>
</div>

<div class="form-group">

  <label class="col-sm-3 control-label">Identification Type</label>
  <div class="col-sm-6">
    <select class="form-control">
      <option>Please select a country</option>
      <option>India</option>
      <option>UK</option>
      <option>USA</option>
      <option>Australia</option>
    </select>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-3 control-label">Upload Photo ID</label>
  <div class="col-sm-6">
    <input type="file" class="form-control">
  </div>

</div>
<hr>
<div class="checkbox">
  <label>
    <input type="checkbox" id="checkboxSuccess" value="option1"> I am an accredited investor that makes over $100000 per year or have over $1M in assets
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" id="checkboxSuccess" value="option1"> I agree to the <a href="#">Terms and Conditions</a>
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" id="checkboxSuccess" value="option1"> I have read the <a href="#">Privacy policy</a>
  </label>
</div>
<hr>
<div class="form-group">
  <div class="text-center col-sm-12">
    <button type="submit" class="btn btn-default btn-large">Register</button>
  </div>
</div>