<div class="form-group">
  <ul class="list-inline rfdata">
    <li class="name"><span class="firstName">Full</span><span class="lastName">name</span></li>
    <li class="accountNo">0424566666</li>
  </ul>
</div>

<div class="form-group">

  <label class="col-sm-4 control-label">Automatic monthly withdrawal method</label>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Wire Transfer</option>
      <option>Check</option>


    </select>
  </div>

</div>

<hr>

<div class="form-group">

  <label class="col-sm-4 control-label">Name of Beneficiary</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your Full Name" readonly>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-4 control-label">Address</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled address" readonly>
  </div>

</div>

<div class="form-group">

  <label class="col-sm-4 control-label">City</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled city" readonly>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-4 control-label">Country</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled country" readonly>
  </div>

</div>

<div class="form-group">

  <label class="col-sm-4 control-label">Postal code</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled Postal code" readonly>
  </div>

</div>

<div class="form-group">

  <label class="col-sm-4 control-label">Phone number</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled Phone number" readonly>
  </div>

</div>
<hr>


<div class="form-group">
  <label class="col-sm-3 control-label">Account</label>
  <div class="col-sm-9">
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" ng-click="blockName='us'"> US
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" ng-click="blockName='canada'"> Canada
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" ng-click="blockName='international'"> International
    </label>
  </div>
</div>
<hr>
<div ng-show="blockName == 'us'">
  <h4>US Based Accounts</h4>
  <hr>
  <div class="form-group">

    <div class="col-md-6">
      <div class="form-group">

        <label class="col-sm-4 control-label">Currency</label>
        <div class="col-sm-8">
          <fieldset disabled>
            <select class="form-control">
              <option>USD</option>

            </select>
          </fieldset>
        </div>

      </div>


      <div class="form-group">
        <label class="col-sm-4 control-label">Bank Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Bank Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Name on Account</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Routing Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>

      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Account Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img src="images/account_us.jpg" class="img-responsive">
    </div>

  </div>
</div>
<div ng-show="blockName == 'canada'">
  <h4>Canada Based Accounts</h4>
  <hr>
  <div class="form-group">
    <div class="col-md-6">
      <div class="form-group">

        <label class="col-sm-4 control-label">Currency</label>
        <div class="col-sm-8">

          <select class="form-control">
            <option>CAN</option>
            <option>USD</option>
          </select>

        </div>

      </div>


      <div class="form-group">
        <label class="col-sm-4 control-label">Bank Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Bank Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Name on Account</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Transit Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>

      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label">Institution Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">Account Number</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <img src="images/account_can.jpg" class="img-responsive">
    </div>

  </div>
</div>



<div ng-show="blockName == 'international'">
  <h4>International Accounts</h4>
  <hr>
  <div class="form-group">

    <label class="col-sm-4 control-label">Currency</label>
    <div class="col-sm-8">
      <fieldset disabled>
        <select class="form-control">
          <option>USD</option>

        </select>
      </fieldset>
    </div>

  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Bank Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Bank Address</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Name on Account</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Routing Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>

  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Swift Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">IBAN Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Account Number</label>
    <div class="col-sm-8">
      <input type="text" class="form-control">
    </div>
  </div>




</div>

<hr>
<div class="checkbox">
  <label>
    <input type="checkbox" id="checkboxSuccess" value="option1"> Remember these settings
  </label>
</div>



<hr>
<div class="form-group">
  <div class="text-center col-sm-12">
    <button type="submit" class="btn btn-default btn-large">Submit</button>
  </div>
</div>