<div class="form-group">
  <ul class="list-inline rfdata">
    <li class="name"><span class="firstName">Full</span><span class="lastName">name</span></li>
    <li class="accountNo">0424566666</li>
  </ul>
</div>

<div class="form-group">

  <label class="col-sm-4 control-label">Automatic monthly withdrawal method</label>
  <div class="col-sm-2">
    <select class="form-control">
      <option>Check</option>
      <option>Wire Transfer</option>


    </select>
  </div>

</div>

<hr>

<div class="form-group">

  <label class="col-sm-4 control-label">Name of Beneficiary</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your Full Name" readonly>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-4 control-label">Address</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled address" readonly>
  </div>

</div>

<div class="form-group">

  <label class="col-sm-4 control-label">City</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled city" readonly>
  </div>

</div>
<div class="form-group">

  <label class="col-sm-4 control-label">Country</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled country" readonly>
  </div>

</div>

<div class="form-group">

  <label class="col-sm-4 control-label">Postal code</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled Postal code" readonly>
  </div>

</div>

<div class="form-group">

  <label class="col-sm-4 control-label">Phone number</label>
  <div class="col-sm-8">
    <input class="form-control" type="text" placeholder="Your filled Phone number" readonly>
  </div>

</div>
<hr>
<div class="checkbox">
  <label>
    <input type="checkbox" id="checkboxSuccess" value="option1"> Remember these settings
  </label>
</div>
<hr>
<div class="form-group">
  <div class="text-center col-sm-12">
    <button type="submit" class="btn btn-default btn-large">Submit</button>
  </div>
</div>