<section class="footsection">
  <div class="ftop">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Quick Links</h2>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="">Investors</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Press</a></li>
                <li><a href="">Fact Sheet</a></li>

              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li><a href="">FAQs</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>

              </ul>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <h2>Follow us</h2>
          <ul class="list-inline socialLinks">
            <li class="facebook">
              <a href="#"></a>
            </li>
            <li class="gplus">
              <a href="#"></a>
            </li>
            <li class="twitter">
              <a href="#"></a>
            </li>
          </ul>

        </div>

        <div class="col-md-4">
          <h2>Contact us</h2>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker"></i>House no. Street no. , City Country</li>

            <li><i class="fa fa-phone"></i> (905)597-2636</li>
            <li><i class="fa fa-fax"></i> (905)763-1872</li>
            <li><i class="fa fa-envelope"></i> info@crowninterest.com</li>

          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="fbottom">
    <div class="container">
      <p class="copyright">© 2015 All rights reserved. Crowninterest</p>
    </div>
  </div>
</section>