<div class="header userMenu">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-logo" href="#">
          <img src="images/logo.png" alt="logo" class="logo">
        </a>

      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav adjust">
          <li uib-dropdown>
            <a href="#" id="dropdown" uib-dropdown-toggle>Admin <span class="fa fa-angle-down"></span></a>
            <ul uib-dropdown-menu aria-labelledby="dropdown">
              <li><a href="#">Company Account</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Global Setting</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Return Comparison</a></li>

            </ul>
          </li>

          <li><a href="#">Users</a></li>
          <li><a href="#">Accounts</a></li>
          <li><a href="#">Transactions</a></li>
          <li><a href="#">Earning Report</a></li>

          <li uib-dropdown>
            <a href="#" id="dropdown" uib-dropdown-toggle>Withdrawal  <span class="fa fa-angle-down"></span></a>
            <ul uib-dropdown-menu aria-labelledby="dropdown">
              <li><a href="#">Withdrawal Reports</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Withdrawal Request</a></li>

            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav  navbar-right user-nav">
          <li uib-dropdown class="shortBox">
            <a href="#" id="dropdown" uib-dropdown-toggle><img alt="Avatar" src="images/1.png"> <span>Username</span> <span class="fa fa-angle-down"></span></a>
            <ul uib-dropdown-menu aria-labelledby="dropdown">
              <li><a href="#">My Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>

            </ul>
          </li>



        </ul>
        <ul class="nav navbar-nav  navbar-right">


          <li uib-dropdown class="button">
            <a href="#" id="dropdown" uib-dropdown-toggle><span class="fa fa-comments"></span> <span class="bubble">2</span></a>
            <ul uib-dropdown-menu aria-labelledby="dropdown" class="messages">

              <li>
                <a href="#">
                  <img src="images/1.png" alt="avatar"><span class="date pull-right">13 Sept.</span> <span class="name">Richa</span> Good luck
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/2.png" alt="avatar"><span class="date pull-right">20 Oct.</span><span class="name">Adam</span> Where is the venue
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/3.png" alt="avatar"><span class="date pull-right">2 Nov.</span><span class="name">Lucy</span> Hello
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/4.png" alt="avatar"><span class="date pull-right">2 Nov.</span><span class="name">Richard</span> Congo
                </a>
              </li>
              <li class="foot"><a href="#">View all messages </a></li>
            </ul>

          </li>









        </ul>




      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

</div>