<header ng-include="'views/core/partials/header.html'"></header>
<div class="hiw">
  <section class="hero hiw">
    <div class="container">




      <div class="hero-content text-right">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="freestyle">Experience the Freedom</h1>
            <p>Private Lending and Investment Platform Redefining Returns on Investment</p>
            <a href="#" class="btn btn-small">Register</a>

            <p>Simple four step signup takes about 2 mins</p>
          </div>


        </div>
      </div>

    </div>

  </section>


  <section class="intro section-padding">
    <div class="container">
      <h2>Understand How Crown Interest Works</h2>
      <div class="row">
        <div class="col-md-4">
          <h3>What is Crown <img src="images/under1.png" ></h3>
          <p>Crown Interest is an investment platform that makes a difference. Acheive your financial goals with the security of monthly interest income that is pasive and stable.
            <br>We are a privately held Canadian Corporation that invests in Forex trading strategies and helps clients grow their invested money.
            <br>We are making a difference in how money is invested. </p>
        </div>

        <div class="col-md-4">
          <h3>How Crown Works <img src="images/under2.png" ></h3>
          <p>Our services cater to Accredited Investors who are searching for better performance than traditional savings and investment vehicles but want an alternative to direct market exposure. These accounts require no maintenance and market research.
            <br> Crown utilizes a leverage strategy incorporating bonded promissory notes and compartmentalized trading accounts through trading teams.</p>
        </div>
        <div class="col-md-4">
          <h3>Safeguards <img src="images/under3.png"></h3>
          <p>Principle deposits are never at risk or exposed directly to the market. They are held in trust and separated from the actual trading funds.
            <br>
            <br>Deposits are only used as proof of funds, your deposits are never used directly to trade.
          </p>
        </div>



      </div>

      <a href="#" class="btn btn-default btn-small">Register</a>


    </div>
  </section>

  <hr>
  <section class="intro section-padding">
    <div class="container">
      <h2>Lots of Reasons to Use Crown</h2>
      <div class="row">
        <div class="col-md-3">
          <h3>Security <img src="images/reas1.png"></h3>
          <p>Crown Interest is a 128/256 bit encrypted platform utilizing security and fraud detection systems to monitor suspicious activey. We have the infrastructure in place to defend against attacks, fraud schemes and scams. </p>
        </div>


        <div class="col-md-3">
          <h3>Experience <img src="images/reas2.png"></h3>
          <p>Our experience and knowledge in the markets has allowed us to create the most exciting and game-changing offering to investors. Crown has spent 3 years establishing and proving the system in order to open the necessary relationships lines and
            resources with the top financial institutions to create our methodology. </p>
        </div>

        <div class="col-md-3">
          <h3>Returns <img src="images/reas3.png"></h3>
          <p>Returns of 36% per year is unmatchable... anywhere. At these returns your money is doing all the work. Collect your interest month after month, stable and consistent. Our offering is like all investments and is not without risk. However, we
            have created safeguards to minimize and that risk so that your deposit is never exposed to the market. </p>
        </div>


        <div class="col-md-3">
          <h3>Convenience <img src="images/reas4.png"></h3>
          <p>With your Crown Interest account, track all your deposits and transactions. View your interest rates and monthly earnings. Adjust your automatic withdrawal settings so that you receive your funds they way you want. Your investments are conveniently
            handled just like a checking account.</p>
        </div>
      </div>

      <a href="#" class="btn btn-default btn-small">Register</a>


    </div>
  </section>

  <section class="hero plane">

  </section>

  <section class="intro section-padding">
    <div class="container">
      <h2>The Highest Standards </h2>
      <div class="row">
        <div class="col-md-4">
          <h3>Methodology <img src="images/stand1.png"></h3>
          <p>The Crown methodology is brilliant and simple. Addressing the two most important factors in any investment: ROI and Risk.
            <br>We mitigate risk by never exposing funds directly to the market and utilize leverage to maximize returns. We are constantly researching global trends to provide the highest returns.</p>
        </div>

        <div class="col-md-4">
          <h3>Philosophy <img src="images/stand2.png"></h3>
          <p>A Chinese proverb once read: ‘A closed mind is like a closed book: just a block of wood.’
            <br>Skepticism is necessary to protect you from harm but it may also hinder you from being able to acheive your financial goals. Don’t let fear be your guiding principle.
          </p>
        </div>
        <div class="col-md-4">
          <h3>Ethics <img src="images/stand3.png"></h3>
          <p>Crown believes in a higher level of corporate and personal ethics. We abide by all legal and professional standards. We pride ourselves on delivering trust, integrity and above all results. </p>
        </div>



      </div>

      <a href="#" class="btn btn-default btn-small">Register</a>


    </div>
  </section>
  <hr>

  <section class="intro section-padding">
    <div class="container">
      <h2>What to expect after your have made your deposit</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="images/deposit1.png">
          <h3>Initialize your deposit</h3>
          <p>Annual Interest is calculated daily and paid monthly on the 21st of the month. Track your earnings in your account. 60 days lead time is required to set up your funds to incorporate it into the funds pool before activation.</p>
        </div>

        <div class="col-md-4">
          <img src="images/deposit2.png">
          <h3>Interest Starts on day 61</h3>
          <p>Deposits are accepted in USD and CAD The minimum deposit amount depends on the term of the deposit. Deposits and withdrawals can be initiated by wire transfer and check by mail.</p>
        </div>
        <div class="col-md-4">
          <img src="images/deposit3.png">
          <h3>Withdraw Your Interest</h3>
          <p>Automatic monthly payments are set up to pay your monthly interest on the 21st of every month. Relax and let your money do the work. </p>
        </div>

      </div>

    </div>
  </section>
  <section class="recommend">
    <div class="container">
      <h3>Accredited investors can earn up to 3% in monthly interest income</h3>
      <h3>Open a new account today with a minimum of just $5000.  </h3>
      <h3>Sit back and allow your funds to work for you</h3>

      <a href="#" class="btn btn-default btn-large">Register Now</a>


    </div>
  </section>



  <section class="subscribe section-padding">
    <div class="container">
      <h2>Subscribe <span>Sign up with your email address to receive updates</span></h2>

      <form class="form-inline">
        <div class="form-group">

          <input type="text" class="form-control" id="" placeholder="First name">
        </div>
        <div class="form-group">

          <input type="text" class="form-control" id="" placeholder="Last name">
        </div>
        <div class="form-group">

          <input type="email" class="form-control" id="" placeholder="Email Address">
        </div>

        <button type="submit" class="btn btn-default btn-lg">Signup</button>
      </form>
      <h5>We respect your privacy</h5>

    </div>
  </section>
</div>
<footer ng-include="'views/core/partials/footer.html'"></footer>