<header ng-include="'views/core/partials/header.html'"></header>
<div class="interestRates">
  <section class="hero interest">
    <div class="container">




      <div class="hero-content text-right">
        <div class="row">
          <div class="col-md-7 center-block text-center">

            <div class="interestTable">

              <table class="table">
                <thead>
                  <tr>
                    <th>MIN DEPOSIT</th>
                    <th>2 YR TERM</th>
                    <th>3 YR TERM</th>
                    <th>4 YR TERM</th>
                    <th>5 YR TERM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">$5000-$49999</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">$50000-$99999</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">$100000-$249999</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">$250000-$999999</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">$1000000 +</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <h4>All figures represent annual percentage yield (APY)</h4>
            </div>
            <a href="#" class="btn btn-small">Register</a>


          </div>


        </div>
      </div>

    </div>

  </section>


  <section class="intro section-padding ">
    <div class="container">
      <h2>All accounts include</h2>
      <div class="row">
        <div class="col-md-6">
          <img src="images/under2.png">
          <p>Payout every month on the 21st
            <br>61 days to activate interest accrual
            <br>2.4% account maintenance fee on interest earned
          </p>
        </div>


        <div class="col-md-6">
          <img src="images/under2.png">
          <p>$0 withdrawal fees
            <br>$0 transaction fees
            <br>$0 commission fees
          </p>
        </div>



      </div>




    </div>
  </section>

  <hr>



  <section class="intro section-padding">
    <div class="container">
      <h2>What to expect after your have made your deposit</h2>
      <div class="row">
        <div class="col-md-4">
          <img src="images/deposit1.png">
          <h3>Initialize your deposit</h3>
          <p>Annual Interest is calculated daily and paid monthly on the 21st of the month. Track your earnings in your account. 60 days lead time is required to set up your funds to incorporate it into the funds pool before activation.</p>
        </div>

        <div class="col-md-4">
          <img src="images/deposit2.png">
          <h3>Interest Starts on day 61</h3>
          <p>Deposits are accepted in USD and CAD The minimum deposit amount depends on the term of the deposit. Deposits and withdrawals can be initiated by wire transfer and check by mail.</p>
        </div>
        <div class="col-md-4">
          <img src="images/deposit3.png">
          <h3>Withdraw Your Interest</h3>
          <p>Automatic monthly payments are set up to pay your monthly interest on the 21st of every month. Relax and let your money do the work. </p>
        </div>

      </div>

    </div>
  </section>
  <section class="recommend">
    <div class="container">
      <h3>Accredited investors can earn up to 3% in monthly interest income</h3>
      <h3>Open a new account today with a minimum of just $5000.  </h3>
      <h3>Sit back and allow your funds to work for you</h3>

      <a href="#" class="btn btn-default btn-large">Register Now</a>


    </div>
  </section>



  <section class="subscribe section-padding">
    <div class="container">
      <h2>Subscribe <span>Sign up with your email address to receive updates</span></h2>

      <form class="form-inline">
        <div class="form-group">

          <input type="text" class="form-control" id="" placeholder="First name">
        </div>
        <div class="form-group">

          <input type="text" class="form-control" id="" placeholder="Last name">
        </div>
        <div class="form-group">

          <input type="email" class="form-control" id="" placeholder="Email Address">
        </div>

        <button type="submit" class="btn btn-default btn-lg">Signup</button>
      </form>
      <h5>We respect your privacy</h5>

    </div>
  </section>
</div>

<footer ng-include="'views/core/partials/footer.html'"></footer>