<header ng-include="'views/core/partials/header.html'"></header>

<section class="hero">
  <div class="container">




    <div class="hero-content ">
      <h1 class="text-center freestyle">Experience Freedom with Crown Interest</h1>
      <div class="row">

        <div class="col-md-7">
          <div class="interestTable">

            <table class="table">
              <thead>
                <tr>
                  <th>MIN DEPOSIT</th>
                  <th>2 YR TERM</th>
                  <th>3 YR TERM</th>
                  <th>4 YR TERM</th>
                  <th>5 YR TERM</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">$5000-$49999</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">$50000-$99999</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">$100000-$249999</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">$250000-$999999</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">$1000000 +</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h4>All figures represent annual percentage yield (APY)</h4>
          </div>
          <p> Deposit in either USD or CAD
            <br> Payout every 21st of the month
            <br>
            <br> Your deposited funds will be locked in for the term and
            <br> will earn the corresponding APY payable to you monthly
            <br>
            <br> Term starts on the activation date and ends on the maturity date
            <br>
          </p>
        </div>
      </div>

    </div>




  </div>

</section>


<section class="intro section-padding">
  <div class="container">
    <p>Crown Interest is a privately held company. We invest in the equity and the forex markets and provide tremendous returns to our clients. Crown Interest has helped clients to grow their investment portfolio to acheive their financial strength and freedom.
      Join us today and put your money to work. Do not lose this opportunity as investment window is only open for a limited time.
    </p>
    <a href="#" class="btn btn-default btn-small">Learn more</a>


  </div>
</section>

<section class="intersetCalc section-padding">
  <div class="container">
    <h2>Calculate your Monthly income</h2>
    <div class="row">
      <div class="col-md-8 center-block">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default calculatorBox">
              <div class="panel-heading">
                <h3 class="panel-title">How much will I earn ?</h3>

              </div>
              <div class="panel-body">
                <!--
                <div class="radio radio-success">
                  <input type="radio" name="radio" id="radio1" value="option1" class="styled">
                  <label for="radio1" class="control-label"> USD </label>
                </div> -->

                <div class="btn-group selectCurrency" data-toggle="buttons">
                  <label class="btn btn-coin active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked>$ USD
                  </label>
                  <label class="btn btn-coin ">
                    <input type="radio" name="options" id="option2" autocomplete="off"> $ CAD
                  </label>

                </div>
                <div class="depositSlider">
                  <h5>Select Term</h5>
                  <select class="form-control">
                    <option>1 Year - 12%</option>
                    <option>2 Years - 18%</option>
                    <option>3 Years - 24%</option>
                    <option>4 Years - 30%</option>
                    <option>5 Years - 36%</option>
                  </select>
                </div>


                <div class="depositSlider">
                  <h5>How much is your deposit?</h5>
                  <span slider slider-id="rangeSlider" slider-tooltip="always" ng-model="calculatorBox.depositRange" handle="round" min="20000" max="100000"></span>
                </div>
                <div class="borrowSlider">
                  <h5>How much of your deposit will be borrowed?</h5>
                  <span slider slider-id="rangeSlider" slider-tooltip="always" ng-model="calculatorBox.borrowRange" handle="round" min="0" max="100000"></span>
                </div>
                <div class="interestSlider">
                  <h5>What is the interest rate of your borrowed funds?</h5>
                  <input class="form-control" id="disabledInput" type="text" placeholder="19.99" readonly>
                </div>

                <a href="#" class="btn btn-default btn-small">Calculate</a>
              </div>
            </div>
          </div>



          <div class="col-md-6">
            <div class="panel panel-default calculatorBox">
              <div class="panel-heading">
                <h3 class="panel-title">Your Monthly Income</h3>

              </div>
              <div class="panel-body">
                <h1> CAD $1500</h1>
                <a href="#" class="btn btn-default btn-small">Make a Deposit Now</a>
                <h5 class="note">Monthly interest includes a 2.4% account management fee</h5>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</section>



<section class="testimonials section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="images/1.png" class="img-responsive">
        <p> "Crown enabled me to travel...indefinitely"
        </p>

      </div>
      <div class="col-md-3">
        <img src="images/2.png" class="img-responsive">
        <p> "My son’s college payments are no longer a burdern" </p>
      </div>
      <div class="col-md-3">
        <img src="images/3.png" class="img-responsive">

        <p> "Im driving my dream car"</p>
      </div>
      <div class="col-md-3">
        <img src="images/4.png" class="img-responsive">
        <p>"My mortgage is now covered by the interest payments"
        </p>
      </div>
    </div>



  </div>
</section>


<section class="recommend">
  <div class="container">
    <h3>Track your deposit status and monthly earnings</h3>
    <h3>  Withdraw your interest every month</h3>
    <a href="#" class="btn btn-default btn-large">Register Now</a>


  </div>
</section>


<section class="subscribe section-padding">
  <div class="container">
    <h2>Subscribe</h2>
    <form class="form-inline">
      <div class="form-group">

        <input type="text" class="form-control" id="" placeholder="First name">
      </div>
      <div class="form-group">

        <input type="text" class="form-control" id="" placeholder="Last name">
      </div>
      <div class="form-group">

        <input type="email" class="form-control" id="" placeholder="Email Address">
      </div>

      <button type="submit" class="btn btn-default btn-lg">Signup</button>
    </form>

  </div>
</section>

<footer ng-include="'views/core/partials/footer.html'"></footer>