<section class="navigation">
  <div class="container-fluid">
    <header>
      <div class="header-content">
        <div class="logo">
          <a href="#"><img src="images/logo.png" alt="logo"></a>
        </div>
        <div class="header-nav">
          <nav>
            <ul class="primary-nav">
              <li><a href="">Interest Rates</a></li>
              <li><a href="">How it works</a></li>
            </ul>
            <ul class="member-actions">
              <li><a href="#download" class="login">Log in</a></li>
              <li><a href="#download" class="btn btn-default btn-small">Sign up</a></li>
            </ul>
          </nav>
        </div>
        <div class="navicon">
          <a class="nav-toggle" href="#"><span></span></a>
        </div>
      </div>
    </header>
  </div>
</section>
<script>
  /***************** Nav Transformicon ******************/

  /* When user clicks the Icon */
  $('.nav-toggle').click(function() {
    $(this).toggleClass('active');
    $('.header-nav').toggleClass('open');
    event.preventDefault();
  });
  /* When user clicks a link */
  $('.header-nav li a').click(function() {
    $('.nav-toggle').toggleClass('active');
    $('.header-nav').toggleClass('open');

  });

  /***************** Header BG Scroll ******************/

  $(function() {
    $(window).scroll(function() {
      var scroll = $(window).scrollTop();

      if (scroll >= 20) {
        $('section.navigation').addClass('fixed');
        $('header').css({
          "border-bottom": "none"
        });
      } else {
        $('section.navigation').removeClass('fixed');

      }
    });
  });
</script>